* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik', sans-serif; */
}

body {
  font-family: "Rubik", sans-serif;
overflow-x: hidden;
/* justify-content: center; */
position: relative;
left: 50%;
/* left: 50%; */
transform: translateX(-50%);
/* background-color: #f7b2ba; */

}
a {
  text-decoration: none;
  display: inline block;
}

/* header part starts here */
header {
  overflow-x: hidden;
}
.header-top-strip {
  border: 2px solid black;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.glass {
  height: 37px;
  align-items: center;
  background-color: orange;
}
.menu-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-buttom {
  border: 2px solid black;
}
.nav-items {
  font-weight: bolder !important;
  color: black !important;
}
.bg-secondary {
  background-color: #b9c8d5 !important;
}
.nav-dropdown {
  outline: none !important;
  border: none !important;
  background-color: #b9c8d5 !important;
}
/* .dropdown-menu {
  background-color: black;
  transform: translateY(41px) !important;
  position: relative;
  z-index: 10;
  
} */
.dropdown-item {
  color: white;
}
/* header part end here  */

/* footer part start */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
footer {
  overflow-x: hidden;
}
.footer-border {
  border-top: 0.3px solid rgb(71, 71, 71);
}
.footer-send {
  font-size: 20px;
  padding-top: 8px;
}
.footer-mail {
  outline: none !important;
  border: none !important;
}
.footerwala {
  /* width: 100vw; */
  background-color: black;
}
.footer-row {
  margin: 0 !important;
}
/* footer part end  */

/* home page start */
.main-banner-content {
  top: 34%;
  left: 5%;
}
.small-banner-content {
  top: 34%;
  left: 5%;
}

.text-permanent {
  /* font-family: 'Permanent Marker', cursive; */
  font-weight: bolder;
  font: 10px !important;
}
.roundedwala {
  border-radius: 20px !important;
}
.roundedwala:hover {
  background-color: yellow;
  color: red;
}
.paragraph-items {
  font-size: 15px;
  font-weight: bold;
  width: 150px;
}
@media (max-width: 1400px) {
  .paragraph-items {
    font-size: 10px;
  }
}

/*  wrapper 2  */
.home-wrapper-2 {
  background-color: #d1d2cb;
}
.gap-10 {
  padding: 10px;
}

/*  Catagrories  */
.catagories {
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
}
.gap-15 {
  gap: 15px;
  padding: 5px;
}
.gap-30 {
  gap: 30px;
}
/* blog part starts  */

.blog-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
}
.active-bar{
  top: 10%;
  right: -32px;
}
.product-bar{
  overflow: hidden;
}
.product-bar:hover .active-bar {
  right: 10px;
transition: 0.4s;



  top: 37px;
}
.width-all{
width: 1600px;
overflow-x: hidden;
}

/* blog part  ends  */
/* special product start */

.special-product-card{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.spe-date{
  padding: 10px;
}

/* special product end  */
/* home page end  */